extends layout

block nav
  if isAdmin
    ul
      li: a(href=`/admin/edit/${postId}`) Edit post
      li: a(href=`/admin/delete/${postId}`) Delete post
      li: a(href='/logout') Log out

block content
  section.post__wrapper

    .link-wrap
      a(href='/') Back

    h1.post__title= title

    .post__info
      span.post__author Serhii Vladymyrov
      span |
      span.post__date= createdAt

    .post__content!= content
