extends layout

block nav
  if isAuth
    ul
      li: a(href=`/post/edit/${postId}`) Edit post
      li: a(href=`/post/delete/${postId}`) Delete post

block content
  .wrap
    .link-wrap
      a(href='/') Back
    h1= title
    .info
      span= createdAt
    p= content
