extends layout


block nav
  - const backBtn = isAdmin ? 'go-back top' : 'go-back'

  if isAdmin
    header
      ul.navigation
        li.navigation__item
          a(href='/admin/create/new').navigation__link
            span.link__icon: img(src='../assets/icons/new.svg')
            span.link__text New
        li.navigation__item
          a(href=`/admin/edit/${postId}`).navigation__link
            span.link__icon: img(src='../assets/icons/edit.svg')
            span.link__text Edit
        li.navigation__item
          a(href=`/admin/delete/${postId}`).navigation__link
            span.link__icon: img(src='../assets/icons/delete.svg')
            span.link__text Delete
        li.navigation__item
          a(href='/logout').navigation__link
            span.link__icon: img(src='../assets/icons/logout.svg')
            span.link__text Log out

block content
  section.post__wrapper

    a(href='/' class=`${backBtn}`)
      span.nav__icon-wrap
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.494 31.494" class="nav__icon")
          path(d="M10.273 5.01c.444-.445 1.143-.445 1.587 0 .43.428.43 1.142 0 1.57l-8.047 8.047h26.554c.62 0 1.127.492 1.127 1.11 0 .62-.508 1.128-1.127 1.128H3.813l8.047 8.032c.43.444.43 1.16 0 1.587-.444.444-1.143.444-1.587 0L.32 16.532c-.428-.43-.428-1.143 0-1.57l9.953-9.953z")
      span.nav__text Home

    h1.post__title= post.title

    .post__info
      span.post__author= author
      span |
      span.post__date= moment(post.createdAt).format('MMM, Do, YYYY')

    .post__content!= marked(post.content)
