extends layout

block nav
  if isAdmin
    ul
      li: a(href=`/admin/edit/${postId}`) Edit post
      li: a(href=`/admin/delete/${postId}`) Delete post
      li: a(href='/logout') Log out

block content
  .wrap
    .link-wrap
      a(href='/') Back
    h1= title
    .info
      span= createdAt
    p!= content
